{%extends 'template.html'%}
{%block content%}
    <div class = "col-md-3 col-xl-2 bd-sidebar">
        <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('login')}}">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Create Account</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
        </ul>
    </div>
{%endblock content%}

    