{%extends 'template.html'%}
{%block content%}
    <script src='{{url_for("static",filename="demo-user.js")}}'></script>
    <section class='container-fluid'>
        <section class='row justify-content-center'>
            {%with messages = get_flashed_messages(with_categories=true)%}
                {%if messages%}
                    {% for category, message in messages%}
                        <div class='col-8'>
                            <div class="alert alert-{{category}}">
                                {{message}}
                            </div>
                        </div>
                    {%endfor%}
                {%endif%}
            {%endwith%}
        </section>
        <section class='row justify-content-center login-row'>
            <div class = 'col-8 col-xs-8 col-sm-6 col-md-5 col-lg-4 col-xl-3'>
                <form method="POST" action='' class='form-container'>
                    {{form.hidden_tag()}}
                    <fieldset class="form-group form-content">
                        <legend class="border-bottom mb-4">Sign In</legend>
                        <div class="form-group">
                            <label >{{form.email.label}}</label>
                            {%if form.email.errors%}
                                {{form.email(class= 'form-control form-control-lg is-invalid')}}
                                <div class='invalid-feedback'>
                                    {%for error in form.email.errors%}
                                        <span>{{error}}</span>
                                    {%endfor%}
                                </div>
                            {%else%}
                                {{form.email(class= 'form-control form-control-lg')}}
                            {%endif%}
                        </div>
                        <div class="form-group">
                            <label >{{form.password.label}}</label>
                            {%if form.password.errors%}
                                {{form.password(class= 'form-control form-control-lg is-invalid')}}
                                <div class='invalid-feedback'>
                                    {%for error in form.password.errors%}
                                        <span>{{error}}</span>
                                    {%endfor%}
                                </div>
                            {%else%}
                                {{form.password(class= 'form-control form-control-lg')}}
                            {%endif%}
                        </div>
                        <div class="form-group form-check">
                            {{form.remember(class= 'form-check-input')}}
                            <label class="form-check-label">Remember me</label>
                        </div>
                        <div class='form-group mb-1'>
                            {{form.submit(class='btn btn-primary btn-block')}}
                        </div>
                        <div class='text-center'>
                            <small class="text-muted text-center">
                                <a href="#">Forgot Password?</a>
                            </small>
                        </div>
                        <div class='text-center'>
                            <small class="text-muted">
                                <a href="{{ url_for('register') }}">Sign Up</a>
                            </small>
                        </div>
                        <div class='container-fluid' id= 'demo-users'>
                            <div class= 'row'>
                                <div class= 'col d-flex justify-content-center'>
                                    <img src="{{url_for('static', filename = 'media/user.png')}}">
                                </div>
                                <div class= 'col d-flex justify-content-center'>
                                    <img src="{{url_for('static', filename = 'media/user.png')}}">
                                </div>
                            </div>
                            <div class= 'row'>
                                <div class= 'col d-flex justify-content-center'>
                                    <img src="{{url_for('static', filename = 'media/user.png')}}">
                                </div> 
                                <div class= 'col d-flex justify-content-center'>
                                    <img src="{{url_for('static', filename = 'media/user.png')}}">
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </section>
        <section class='row justify-content-center demo-row'>
            <button type='button' class='btn btn-info' id='demo-button'>Demo Users</button>
        </section>
    </section>
{%endblock content%}
